
b.timeline-elem-job{
    color:#800;
    text-decoration: none;    
}
div.timeline-elem{
  height: 60px;
}
div.timeline-elem:hover{
    color:#000;
  background: #EEE;
  background: -webkit-linear-gradient(#EEE, #FFF);
  background:    -moz-linear-gradient(#EEE, #FFF);
  background:         linear-gradient(#EEE, #FFF);

  -webkit-stroke-width: 1.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 50px #FFF;

-webkit-border-radius: 0 5px 10px 0;
-moz-border-radius: 0 5px 10px 0;
    border-radius: 0 5px 10px 0;

          cursor: pointer;
    display: block;
}
div.hidden-desc
{
  visibility: hidden;
  opacity = 0.0;
  transition: visibility 0.7s, opacity 0.7s, height 0.2s linear;
  height : 1px;
    background: #EEE;
  background: -webkit-linear-gradient(to right, #F8F8F8, #FFF);
  background:    -moz-linear-gradient(to right, #F8F8F8, #FFF);
  background:         linear-gradient(to right, #F8F8F8, #FFF);
padding-left: 10px;
padding-top: 4px;
border-radius: 20px;
}

div.hidden-text
{
  color: #AAA;
  text-align: middle;
  visibility: hidden;
  opacity = 0.0;
  transition: visibility 0.5s, opacity 0.5s, height 0.5s linear;
  height : 1px;
}

p.timeline-elem-desc
{

}
div {
  text-align: justify;
  text-justify: inter-word;
}